@media only screen and (max-width: 768px) {
  html {
    font-size: 12px; }
  .logo-wrap img {
    max-width: 60%; }
  #wrapper {
    padding: 0; }
  #wrapper.toggled {
    padding-left: rem(250px); }
  #wrapper #sidebar-wrapper {
    width: 0;
    background: linear-gradient(0deg, #1e2229 0%, #3a3a3a 100%); }
  #wrapper.toggled #sidebar-wrapper {
    width: rem(250px); }
  #page-content-wrapper {
    padding: 20px;
    position: relative; }
  #wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: 0; }
  #menu-toggle {
    display: inline-block; }
  .dash .dash-img-wrap {
    height: 2.125rem; }
  .dash h4 {
    font-size: 13px; }
  .dash p {
    font-size: 10px; }
  .contact-imgs .back-img {
    height: 4.5rem;
    overflow: hidden; }
    .contact-imgs .back-img img {
      width: auto;
      min-height: 100%; }
  .contact-det .contact {
    margin-bottom: 15px; }
    .contact-det .contact i {
      margin-bottom: 10px; }
  .map-wrap {
    margin-top: 30px; }
  .profile-det .contact-group {
    margin-bottom: 1.25rem; }
  .box-det {
    margin-top: 15px; }
  .login .login-img {
    display: none; }
  .login-back, .reset-d {
    padding: 0 rem(30px); }
  .login-back > .row {
    align-items: flex-start !important; }
  .dash.box-shad {
    margin-bottom: 15px; }
  .payment .contact-input {
    margin-bottom: 15px; } }

@media only screen and (min-width: 769px) {
  #menu-toggle {
    display: none; } }

@media (max-width: 1200px) and (min-width: 769px) {
  html {
    font-size: 14px; } }
