@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap");
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: var(--body);
    font-family: "Tajawal", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none !important;
    color: #000;
}

.fa-circle {
    font-size: 10px;
    color: var(---green);
}

.small {
    font-weight: bold;
    color: var(---purple);
}

.full-card {
    position: relative;
}
.full-card .small-left-card {
    position: absolute;
    left: 0px;
    top: 0%;
    bottom: 0%;
    background: var(---green);
    border-radius: 4px 0px 0px 4px;
    color: #fff;
    font-size: 20px;
    width: 40px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
}

.disabled {
    cursor: not-allowed !important;
    background: #E3E1DE !important;
    color: #000;
}

h4, h5 {
    color: var(---purple);
}

p {
    font-size: 18px;
    color: var(--text);
}

.card-text {
    font-size: 16px;
}

details summary {
    font-weight: bold;
}

details p {
    overflow-y: auto;
    height: 90px !important;
}

details p::-webkit-scrollbar {
    background: var(---green);
    width: 3px;
}

::-moz-selection {
    background: var(---purple);
    color: var(--body);
}

::selection {
    background: var(---purple);
    color: var(--body);
}

footer p {
    color: var(--text-2);
    font-size: 18px;
}

.chossen {
    font-size: 14px !important;
    margin: 0px 30px !important;
}

.txt-lines {
    height: 70px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-size: 16px;
}

.container-mobile {
    direction: rtl !important;
    position: fixed;
    bottom: 0 !important;
    width: 100%;
    height: 55px !important;
    background-color: var(---purple);
    -webkit-box-shadow: 0 -5px 20px -5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 -5px 20px -5px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 0 0;
    z-index: 10000000;
}
.container-mobile .nav-mobile {
    background-color: var(---purple);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-shadow: 0 -5px 20px -5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 -5px 20px -5px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 0 0;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.container-mobile .nav-mobile li {
    background-color: transparent;
    padding: 10px 10px;
    text-align: center;
}
.container-mobile .nav-mobile li i {
    color: var(--body);
    font-size: 16px !important;
}
.container-mobile .nav-mobile li span {
    font-size: 16px !important;
    color: var(--body);
}

.suppport {
    position: fixed;
    width: 60px;
    height: 60px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    right: 40px;
    bottom: 20px;
    background-color: var(--border);
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    -webkit-box-shadow: 2px 2px 3px var(--border);
    box-shadow: 2px 2px 3px var(--border);
    z-index: 100;
    text-decoration: none;
}
.suppport:hover {
    color: var(--border);
}
.suppport i {
    color: var(---purple);
    margin-top: 16px;
}
.suppport i:hover {
    color: var(---purple);
}

.details-proposal {
    text-align: right;
    direction: rtl;
}

.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid var(---green);
    width: 100px;
    height: 100px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.fa-certificate {
    font-size: 12px;
    color: blue;
}

a {
    text-decoration: none !important;
}

.page_404 {
    padding: 20px 0;
    background: transparent;
}

.page_404 img {
    width: 100%;
}

.four-zero-four-bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
}

.four-zero-four-bg h1 {
    font-size: 80px;
}

.contant-box-404 {
    margin-top: -50px;
}

#full-stars-example-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#full-stars-example-two .rating-group {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
#full-stars-example-two .rating__icon {
    pointer-events: none;
}
#full-stars-example-two .rating__input {
    position: absolute !important;
    left: -9999px !important;
}
#full-stars-example-two .rating__input--none {
    display: none;
}
#full-stars-example-two .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 2rem;
}
#full-stars-example-two .rating__icon--star {
    color: orange;
}
#full-stars-example-two .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
}
#full-stars-example-two .rating-group:hover .rating__label .rating__icon--star {
    color: orange;
}
#full-stars-example-two .rating__input:hover ~ .rating__label .rating__icon--star {
    color: #ddd;
}

.rate-text-clinet {
    height: 130px !important;
}

.col-md-8 .form-check label {
    padding: 0px 30px !important;
}

.login .row .row .col-md-12 .mr-4 {
    padding-right: 20px !important;
}

button, .extra-purple, .extra-green {
    color: #fff;
    font-weight: 400;
    border-radius: 4px;
    text-decoration: none;
}

a, .join-us {
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
}

.extra-green {
    background: var(---green);
}

.extra-green-circle {
    color: #fff;
    padding: 15px 20px;
    border-radius: 40px;
    background: var(---green);
}

.extra-purple {
    background: var(---purple);
}

.small-btn-border {
    padding: 5px;
}

.btn-light {
    cursor: default !important;
    border: 0;
}
.btn-light:hover {
    background: transparent;
    border: 0;
}

.status {
    background: var(---green);
    color: #fff;
}
.status:hover {
    background: var(---green);
    color: #fff;
}

.join-us {
    color: var(---green);
}
.join-us:hover {
    color: var(---purple);
}

.join-us i {
    font-size: 30px;
}
.join-us .fa-globe-europe {
    color: #131418;
}
.join-us .fa-facebook-square {
    color: #1877F2;
}
.join-us .fa-twitter {
    color: #1DA1F2;
}
.join-us .fa-instagram {
    color: #E4405F;
}
.join-us .fa-snapchat-ghost {
    color: #FFFC00;
}

input, input.form-control,
textarea.form-control {
    border-radius: 4px;
    padding: 20px;
    border: 1px solid var(--border);
    background: var(--body) !important;
}

label {
    color: var(--label);
    font-size: 18px;
}

small {
    color: var(--label);
    font-size: 13px;
}

input.form-control::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder {
    color: var(---purple);
}

input.form-control::-moz-placeholder, textarea.form-control::-moz-placeholder {
    color: var(---purple);
}

input.form-control:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder {
    color: var(---purple);
}

input.form-control::-ms-input-placeholder, textarea.form-control::-ms-input-placeholder {
    color: var(---purple);
}

input.form-control::placeholder,
textarea.form-control::placeholder {
    color: var(---purple);
}

input.form-control:focus,
textarea.form-control:focus,
select.form-control:focus,
.form-select:focus {
    -webkit-box-shadow: 0 0 0 0.25rem rgba(71, 50, 91, 0.2) !important;
    box-shadow: 0 0 0 0.25rem rgba(71, 50, 91, 0.2) !important;
}

input[type=file],
textarea[type=file].form-control {
    padding: 6px;
}
input[type=file]:hover,
textarea[type=file].form-control:hover {
    cursor: pointer;
}

select.form-control {
    background: var(--body) !important;
    border: 1px solid var(--border) !important;
    border-radius: 4px;
}

html {
    --body: #fafafa;
    --border: #C0C0C0;
    --label: #000000;
    --text: #000000;
    --text-2: #000000;
    ---green: #1073C0;
    ---purple: #47325B;
    ---pink: #FDC2B0;
}

.signup form .row {
    direction: rtl;
}
.signup form .row ::-webkit-input-placeholder {
    font-size: 13px;
}
.signup form .row ::-moz-placeholder {
    font-size: 13px;
}
.signup form .row :-ms-input-placeholder {
    font-size: 13px;
}
.signup form .row ::-ms-input-placeholder {
    font-size: 13px;
}
.signup form .row ::placeholder {
    font-size: 13px;
}
.signup .user-conditions {
    font-size: 15px;
    color: var(---purple);
}
.signup .showBtn-password {
    position: relative;
}
.signup .showBtn-password #showBtn-p, .signup .showBtn-password #showBtn-Re-p {
    position: absolute;
    top: 50%;
    padding: 0px;
    background: transparent;
    border: 0px;
    left: 10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.signup #messageStrength {
    font-size: 14px;
    display: none;
}

.bg-inputs-phones .row .col-md-8 input {
    width: 150% !important;
}
.bg-inputs-phones .row .col-md-4 label {
    margin-right: 60px !important;
}
.bg-inputs-phones .row .col-md-4 input {
    margin-right: 80px !important;
    width: 10%;
}

.login .form-check-label {
    margin-right: 40px !important;
}
.login .box-title {
    margin-left: 150px;
    margin-right: 150px;
}
.login .row {
    margin-left: 60px;
    margin-right: 60px;
}
.login .row ul {
    text-align: right;
}
.login .help-me .col-md-6 p {
    color: var(---purple);
    font-weight: 500;
}
.login .help-me .col-md-6 ul li a {
    color: var(---purple);
}
.login .reset-password {
    margin-right: 70px;
}

.join-us-login {
    font-size: 16px;
    color: var(---purple) !important;
}

.navbar {
    background-color: var(---purple);
    border-bottom: 1px solid #fff;
    z-index: 100 !important;
}
.navbar img {
    width: 40px !important;
    height: 40px !important;
}
.navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: right !important;
    -ms-flex-align: right !important;
    align-items: right !important;
    text-align: right !important;
}
.navbar ul li a {
    text-decoration: none;
    font-size: 15px;
    color: #fff !important;
}
.navbar a.nav-link.dropdown-toggle::after {
    display: none;
}
.navbar .dropdown-menu {
    background: rgba(71, 50, 91, 0.432);
    text-align: right;
}
.navbar .dropdown-menu .dropdown-item:hover {
    background: rgba(71, 50, 91, 0.747);
}

.fa-bell,
.fa-envelope {
    font-size: 18px;
}

.on-responsive {
    place-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.add-project .row .card-text {
    font-size: 16px;
}
.add-project form .row textarea {
    height: 300px !important;
}
.add-project form .days .box {
    background: var(---green);
    color: #fff;
    border-radius: 4px;
    padding: 7px 25px 10px 10px;
    text-align: center !important;
}
.add-project .advise-ul li {
    color: var(--text);
}

.packedges {
    direction: ltr !important;
    background: linear-gradient(90.24deg, var(---pink) 50.04%, rgba(253, 194, 176, 0) 174.6%);
}
.packedges .container-fluid .row .content-1 img {
    position: absolute;
    top: 35px !important;
    height: 190px;
    -webkit-filter: drop-shadow(25px -5px 4px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(25px -5px 4px rgba(0, 0, 0, 0.25));
}
.packedges .container-fluid .row .card-body h4, .packedges .container-fluid .row .card-body p {
    color: var(--text-2);
}
.packedges .container-fluid .row .card-body p {
    font-size: 20px;
}

.packedge-cards .row .card {
    background: var(---purple);
}
.packedge-cards .row .card .card-body h5, .packedge-cards .row .card .card-body p {
    color: #fff;
}
.packedge-cards .row .card .card-body p {
    font-size: 16px;
}
.packedge-cards .row .premium {
    background: var(---pink);
    -webkit-box-shadow: 0px 8px 31px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 8px 31px rgba(0, 0, 0, 0.25);
}
.packedge-cards .row .premium h5 {
    border: 1px solid var(--body);
    color: var(--text-2) !important;
}
.packedge-cards .row .premium p {
    color: var(--text-2) !important;
}

.bg {
    background: var(---purple);
    padding: 20px;
}
.bg h5 {
    color: #fff;
}

.advertisement .col .card {
    border-radius: 4px;
}
.advertisement .col .card img {
    width: 100% !important;
    height: 1000px !important;
}

.new-img-adds-v2 img {
    width: 100% !important;
    height: 400px !important;
}

.modal-body .row-cols-3 {
    background: rgba(230, 230, 250, 0.568);
    margin: 0px 5px;
}

.projects-card .top-pj-color {
    background: rgba(230, 230, 250, 0.568);
    padding: 10px;
    border-radius: 5px;
}
.projects-card .top-pj-color .small-btn-border {
    color: var(--text) !important;
    padding: 0px;
}
.projects-card .top-pj-color .small-btn-border a {
    font-size: 15px !important;
    color: var(--text);
}
.projects-card .top-pj-color .small-btn-border a :hover {
    color: var(--text) !important;
}
.projects-card .top-pj-color .small-btn-border a i {
    font-size: 13px;
}
.projects-card .top-pj-color .small-btn-border a i :hover {
    color: var(--text) !important;
}
.projects-card .owner-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    direction: rtl;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}
.projects-card .owner-details li {
    color: var(--text);
}
.projects-card .owner-details li i {
    color: var(--text);
    font-size: 13px;
}
.projects-card .card {
    direction: rtl;
}
.projects-card .card button {
    direction: ltr !important;
}
.projects-card .row .card .card-body h6 {
    color: var(---purple) !important;
    width: 100%;
    height: 42px;
    font-weight: bold;
    line-height: 20px;
    overflow: hidden;
    font-weight: bold;
}

.skills div p {
    font-size: 15px;
}

.search-se {
    margin-top: 35px;
    padding: 7px 60px !important;
}

.pagination-project .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.pagination-project .pagination li a {
    text-decoration: none;
    background: var(---purple);
    color: #fff;
}

.hide {
    display: none;
}

.categories {
    direction: rtl;
}
.categories .row .col-md-12 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    direction: rtl;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.categories .row .col-md-12 label {
    margin-right: 30px !important;
}
.categories .row .col-md-12 input {
    width: 14px !important;
    height: 14px !important;
}

.mycart .row {
    overflow-y: auto;
    height: 800px;
}
.mycart .row .col .card {
    border: 1px solid var(---purple);
}
.mycart .row .col .card p {
    font-size: 16px;
    color: #000;
}
.mycart .row .col .card .card-body h6 {
    font-weight: bold !important;
    color: var(---purple);
}
.mycart .row .col .card .card-body .groub-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.mycart .row .col .card .card-body .groub-button .btn {
    font-size: 15px;
    padding: 10px;
}

.mycart .row::-webkit-scrollbar {
    background: var(---purple);
    width: 3px;
}

.bids .text-right .card-title {
    margin-bottom: 30px;
    font-size: 20px;
}
.bids .row {
    overflow-y: auto;
    height: 800px;
}
.bids .row .col .card {
    direction: rtl;
}
.bids .row .col .card p {
    font-size: 16px;
    color: #000;
}
.bids .row .col .card h6 {
    color: var(---purple);
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75%;
}

.bids .row::-webkit-scrollbar {
    background: var(---purple);
    width: 3px;
}

.project-id .col-md-8 {
    text-align: right !important;
}
.project-id .col-md-8 .card .card-body {
    text-align: right !important;
}
.project-id .col-md-8 .card .card-body .form-check {
    text-align: right !important;
}
.project-id .col-md-8 .card .card-body .form-check label {
    margin-right: 40px !important;
}
.project-id .col-md-8 .card .card-body .form-check input {
    width: 13px !important;
    height: 13px !important;
}
.project-id hr {
    background: #fff !important;
}
.project-id .mobile-sc {
    display: block;
}
.project-id .mobile-sc-2 {
    display: none;
}
.project-id .row .descripe-project {
    background: var(---purple) !important;
    text-align: center;
    border: 0px;
}
.project-id .row .descripe-project .text-right {
    text-align: right !important;
}
.project-id .row .descripe-project .row-cols-lg-2 {
    text-align: right !important;
}
.project-id .row .descripe-project .row-cols-lg-2 div {
    text-align: right !important;
}
.project-id .row .descripe-project .row-cols-lg-2 img {
    text-align: right !important;
}
.project-id .row .descripe-project h5, .project-id .row .descripe-project p {
    color: #fff;
}
.project-id .row .descripe-project p {
    margin: 15px 0;
    font-size: 16px;
}
.project-id .row .descripe-project .row div p {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}
.project-id .row .project-card .row {
    text-align: right;
}
.project-id .row .project-card .card-body {
    background: var(---purple) !important;
    border: 0px;
    color: #fff !important;
}
.project-id .row .project-card .card-body h6 {
    color: #fff;
}
.project-id .row .project-card hr {
    background: #fff;
}
.project-id .row .project-card button {
    color: #fff;
}
.project-id .row .card {
    background: transparent;
    border: 0px;
}
.project-id .row h6 {
    color: var(---purple);
}
.project-id .row hr {
    background: var(---purple);
}
.project-id .row textarea {
    height: 300px !important;
}
.project-id .row .purposal p {
    font-size: 16px;
    color: var(--text-2);
}
.project-id .row .purposal .d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.project-id .col-md-4 .pb-3 {
    text-align: right !important;
}
.project-id .col-md-4 .row-cols-lg-2 {
    text-align: right !important;
}
.project-id .col-md-4 .row-cols-lg-2 .col-md-12 label {
    text-align: center !important;
}

.fa-pj-id-details {
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    background: rgba(230, 230, 250, 0.637);
}
.fa-pj-id-details .maker-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    direction: rtl;
    margin: 15px 0;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.fa-pj-id-details .maker-details li {
    font-size: 14px;
    display: inline-block;
    color: var(--text);
}
.fa-pj-id-details .maker-details li i {
    color: var(--text);
    font-size: 12px;
}

.new-proposal-card .profile-img-usr-crcl span img {
    width: 35px;
    height: 35px;
}
.new-proposal-card p {
    width: 100% !important;
    color: #000;
}
.new-proposal-card .details-propsal-of-usrr {
    margin: 10px 0;
}
.new-proposal-card .details-propsal-of-usrr ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.new-proposal-card .details-propsal-of-usrr ul li {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 15px;
}
.new-proposal-card .details-propsal-of-usrr ul li i {
    font-size: 12px !important;
    color: #000;
}
.new-proposal-card .details-propsal-of-usrr ul li a {
    color: #000;
    font-size: 15px;
    text-decoration: none;
}
.new-proposal-card .resit-drop-down {
    direction: rtl;
}
.new-proposal-card .resit-drop-down .dropdown-menu a {
    text-align: right;
    font-size: 15px;
}

.user {
    position: relative;
}
.user img {
    width: 100%;
}
.user .container {
    margin-top: 0px !important;
}
.user .container .row {
    position: absolute;
    top: 50% !important;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.user .container .row .card .card-body .rounded {
    width: 100% !important;
}
.user .container .row .card .card-body .rounded img {
    width: 80px !important;
}
.user .container .row .card .card-body p {
    color: #fff;
    font-weight: bold;
}
.user .container .row .card .card-body ul {
    place-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.user .container .row .card .card-body ul li {
    color: #fff;
    font-size: 13px;
}
.user .container .row .card .card-body ul li i {
    font-size: 12px;
}

.nav-tabs button {
    background: transparent !important;
    color: #000 !important;
    margin: 0px 2px;
}
.nav-tabs button.active {
    background: var(---purple) !important;
    color: #fff !important;
}

.tab-content {
    color: #000;
}
.tab-content p {
    color: #000;
}

.left-side-user {
    color: #fff;
}
.left-side-user h5 {
    color: #fff;
}
.left-side-user p {
    color: #fff;
    font-size: 16px;
}
.left-side-user .card {
    background: var(---purple);
}

.right-side-user .card-text,
.right-side-user .card-title {
    color: #000 !important;
}

.tab-pane .col a {
    text-decoration: none;
}

.modal-footer a {
    text-decoration: none;
}

.card-center .row {
    overflow-y: auto;
    height: 143px;
}
.card-center .row div p {
    font-size: 14px;
}
.card-center .row div p i {
    font-size: 7px;
}

.card-center .row::-webkit-scrollbar {
    background: var(---green);
    width: 3px;
}

.fa-copy {
    font-size: 20px;
}

.data-usr-aftr-access-hole, .logout {
    display: none !important;
}

.on-responsive-circle-img {
    display: block !important;
}

.fr-user-settings {
    direction: rtl;
    padding: 0 4px;
}
.fr-user-settings li :hover {
    color: #000;
}
.fr-user-settings a {
    font-size: 15px;
    text-align: right;
}

.support .row .col .card .card-body a {
    text-decoration: none !important;
}

.textarea-popup {
    height: 120px !important;
}

.terms .dropdown-menu a {
    color: var(---purple) !important;
    text-decoration: none;
    text-align: right;
    font-size: 16px;
}
.terms .row .col .card {
    background: transparent;
    border: 1px solid var(---purple);
}
.terms .row .col .card p {
    color: #000;
}

.current-msg hr {
    background: #fff !important;
}
.current-msg .row .descripe-project-msg {
    background: var(---purple) !important;
    border: 0px;
}
.current-msg .row .descripe-project-msg h5,
.current-msg .row .descripe-project-msg p {
    color: #fff;
}
.current-msg .row .descripe-project-msg p {
    margin: 15px 0;
    font-size: 16px;
}
.current-msg .row .descripe-project-msg .row div p {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}
.current-msg .row .project-card-msg .card-body {
    background: var(---purple) !important;
    border: 0px;
    color: #fff !important;
}
.current-msg .row .project-card-msg .card-body h6 {
    color: #fff;
}
.current-msg .row .project-card-msg hr {
    background: #fff;
}
.current-msg .row .project-card-msg button {
    color: #fff;
}
.current-msg .row .card {
    background: transparent;
    border: 0px;
}
.current-msg .row h6 {
    color: var(---purple);
}
.current-msg .row textarea {
    height: 300px !important;
}
.current-msg .row .available-msg p {
    font-size: 16px;
    color: var(--text-2);
}
.current-msg .alert-warning li {
    font-size: 15px;
    list-style-type: circle;
    direction: rtl;
    margin: 0px 15px;
}
.current-msg .audio-msg {
    border-radius: 4px;
    padding: 10px;
    border: 1px solid var(--border);
    background: var(--body) !important;
}

.stay-tuned, .footer-stay-tuned {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.stay-tuned h1, .footer-stay-tuned h1 {
    color: #ffffff;
}
.stay-tuned h1 i, .footer-stay-tuned h1 i {
    color: var(---green);
    -webkit-animation: loveheart 0.3s linear 0.5s backwards;
    animation: loveheart 0.3s linear 0.5s backwards;
}
.stay-tuned p, .footer-stay-tuned p {
    color: var(--label);
}

.footer-stay-tuned {
    top: initial;
    bottom: 0%;
}
.footer-stay-tuned span {
    color: #ffffff;
}

@-webkit-keyframes loveheart {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-6rem);
        transform: translateX(-6rem);
    }
}

@keyframes loveheart {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-6rem);
        transform: translateX(-6rem);
    }
}
@media only screen and (min-width: 992px) {
    .login .box-title {
        margin-left: 150px;
        margin-right: 150px;
    }
    .login .row {
        margin-left: 60px;
        margin-right: 60px;
    }
    .container-mobile {
        display: none;
    }
}
@media only screen and (max-width: 770px) {
    .navbar {
        padding: 10px !important;
    }
    .user img {
        width: 100%;
        height: 250px;
    }
    .user .container .row .card .card-body .rounded img {
        vertical-align: middle !important;
        width: 80px !important;
        height: 80px !important;
        border-radius: 50% !important;
    }
    .user .container .row .card .card-body p {
        font-size: 12px;
    }
    .user .container .row .card .card-body ul li {
        font-size: 10px;
        color: #fff;
    }
    .user .container .row .card .card-body ul li i {
        font-size: 8px;
    }
    .login .box-title {
        margin-left: 0px;
        margin-right: 0px;
    }
    .login .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    .login .help-me .col-md-6 ul li a {
        font-size: 15px;
    }
    .login .help-me .col-md-6 button {
        padding: 10px;
    }
    .login .reset-password {
        margin-right: 15px;
    }
    .add-project .days .box {
        padding: 7px 10px 10px 10px !important;
    }
    .packedges .container-fluid .row .content-1 .card-body {
        text-align: center !important;
    }
    .packedges .container-fluid .row .content-1 .card-body img {
        position: relative;
        top: 0px !important;
        -webkit-filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.25));
        filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.25));
    }
    .user .container .row .card .card-body img {
        width: 60px !important;
    }
    .container-mobile {
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    .new-img-adds-v2 img {
        width: 100% !important;
        height: 200px !important;
    }
    .navbar {
        position: fixed;
        width: 100% !important;
        top: -23px;
        left: 0;
        right: 0% !important;
        border: 0px;
    }
    .data-usr-aftr-access-hole, .logout {
        display: block !important;
    }
    .on-responsive-circle-img .dropdown {
        display: none !important;
    }
    #navbarSupportedContent {
        width: 100%;
        height: 100vh !important;
        z-index: 1000 !important;
        position: relative;
        top: 10px;
        bottom: 0px;
        background: var(---purple);
    }
    .details-proposal .col-md-5 button, .details-proposal .col-md-5 a {
        text-align: center !important;
        width: 100% !important;
    }
    .navbar {
        padding: 10px !important;
    }
    .user {
        position: relative !important;
    }
    .user img {
        display: none;
    }
    .user .container {
        width: 100% !important;
        margin-top: 50px;
        height: 200px;
        background: var(---purple) !important;
    }
    .user .container .row {
        margin-left: 0px;
        position: relative !important;
        top: 118px !important;
    }
    .user .container .row .card .card-body img {
        display: inline;
    }
    .user .container .row .card .card-body p {
        color: #fff;
        font-size: 14px;
    }
    .user .container .row .card .card-body ul li {
        font-size: 14px;
        color: #fff;
    }
    .user .container .row .card .card-body ul li i {
        font-size: 12px;
    }
    .login form {
        padding: 0px !important;
    }
    .login .box-title {
        margin-left: 0px;
        margin-right: 0px;
    }
    .login .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    .login .help-me .col-md-6 ul li a {
        font-size: 15px;
    }
    .login .help-me .col-md-6 button {
        padding: 10px;
    }
    .login .reset-password {
        margin-right: 15px;
    }
    .add-project .days .box {
        padding: 7px 10px 10px 10px !important;
    }
    .packedges .container-fluid .row .content-1 .card-body {
        text-align: center !important;
    }
    .packedges .container-fluid .row .content-1 .card-body img {
        position: relative;
        top: 0px !important;
        -webkit-filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.25));
        filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.25));
    }
    .project-id .mobile-sc {
        display: none;
    }
    .project-id .mobile-sc-2 {
        display: block;
    }
    .project-id .purposal .card-body button {
        padding: 5px;
        font-size: 14px;
    }
    .container-mobile {
        display: block;
    }
    .suppport {
        display: none;
    }
}
@media only screen and (min-width: 500px) {
    .container-mobile {
        display: none;
    }
}
@media only screen and (max-width: 770px) {
    .navbar-brand {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 20%;
        margin-bottom: 0 !important;
    }

    .user,
    .login,
    .bg,
    .bids,
    .mycart,
    .packedges,
    .details-proposal,
    .project-id,
    .signup,
    .current-msg,
    .terms,
    .add-project,
    .page_404 {
        margin-top: 80px !important;
    }
}
@media only screen and (max-width: 600px) {
    .navbar-brand {
        height: 30%;
    }
}
