.star {
  width:150px;
  position: relative;
  color: #bdbdbd;
}

.rating {
  overflow: hidden;
  white-space: nowrap;

  span{
    font-size:30px;
    white-space: nowrap;
    overflow: hidden;
    color: gold;

    &:before {
      content:"\2606\2606\2606\2606\2606";
      position: absolute;
      color: #bdbdbd;
      z-index: -1;
    }
  }
}
